<html>
  <head>
    <title>Todo</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.min.css" />
    <link rel="stylesheet" href="css/main.css" />
  </head>
  <body>
    <div id="app" class="todo"><%-app-%></div>
    <script id="state" type="application/json"><%-state-%></script>
    <script src="js/bundle.js"></script>
  </body>
</html>